			
	
	<form>
		<div class="form-group row" style="margin-top:20px;">
			<div class="col-xs-4 col-xs-offset-4 text-center">
			<input required type ="text" name = "team" class="form-control input-md stats-input" id="team-input" ng-model ="teamName" placeholder= "Enter team here, first letter in CAPS">		
			<button type = "button" class="btn btn-info btn-sm" style="margin-top: 20px;" ng-click="statsCtrl.statsCheck1(teamName)">2015/16</button>
			<button type = "button" class="btn btn-info btn-sm" style="margin-top: 20px;" ng-click="statsCtrl.statsCheck2(teamName)">2016/17</button>
		</div>
		</div>
			
		</div>
	</form>

		<div class="row stats-bg">
		<div class="col-xs-4 col-xs-offset-4" ng-if="statsCtrl.value1 || statsCtrl.value2">
			<img ng-src = "images/{{ statsCtrl.code1 | lowercase }}.png" class="logo-team img-responsive">
			</div>

		<div>
		       
		           <table class="table table-responsive" ng-if="statsCtrl.value1 || statsCtrl.value2">

		                <thead id="stats-head">
		                <tr>
		                  <th>Season</th>
		                   <th>Matches Played</th>
		                   <th>Wins</th>
		                   <th>Loss</th>
		                   <th>Drawn</th>
		                   <th>Goals Scored</th>
		                   <th class="colHidden">Goals Against</th>				<!-- To hide on lower screen size -->
		                   <th class="colHidden">Home stats</th>
		                   <th class="colHidden">Away stats</th>		
		                       
		                   <th>Win %</th>
		                   <th class="colHidden">Loss %</th>
		                 </tr>
		                 </thead>
		                 
		               <tbody ng-if="statsCtrl.value1">
		                <tr>
		                 <td>{{ statsCtrl.totalMatches1.year }}</td>
				         <td>{{ statsCtrl.totalMatches1.matches }}</td>
		                  <td>{{ statsCtrl.totalMatches1.wins }}</td>
		                  <td>{{ statsCtrl.totalMatches1.loss }}</td>
		                  <td>{{ statsCtrl.totalMatches1.drawn }}</td>
		                  <td>{{ statsCtrl.totalMatches1.goalsFor }}</td>
		                  <td class="colHidden">{{ statsCtrl.totalMatches1.goalsAgainst }}</td>
		                  <td class="colHidden">{{ statsCtrl.totalMatches1.homeWins }}-{{ statsCtrl.totalMatches1.homeLoss }}-{{ statsCtrl.totalMatches1.homeTies }}</td>
		                  <td class="colHidden">{{ statsCtrl.totalMatches1.awayWins }}-{{ statsCtrl.totalMatches1.awayLoss }}-{{ statsCtrl.totalMatches1.awayTies }}</td>
		                  <td>{{ statsCtrl.totalMatches1.winPercent }}</td>
		                  <td class="colHidden">{{ statsCtrl.totalMatches1.lossPercent }}</td>
		                </tr>
		                </tbody>
		                <tbody ng-if="statsCtrl.value2">
		                <tr>
		                  <td>{{ statsCtrl.totalMatches2.year }}</td>
				          <td>{{ statsCtrl.totalMatches2.matches }}</td>
		                  <td>{{ statsCtrl.totalMatches2.wins }}</td>
		                  <td>{{ statsCtrl.totalMatches2.loss }}</td>
		                  <td>{{ statsCtrl.totalMatches2.drawn }}</td>
		                  <td>{{ statsCtrl.totalMatches2.goalsFor }}</td>
		                  <td class="colHidden">{{ statsCtrl.totalMatches2.goalsAgainst }}</td> 
		                  <td class="colHidden">{{ statsCtrl.totalMatches2.homeWins }}-{{ statsCtrl.totalMatches2.homeLoss }}-{{ statsCtrl.totalMatches2.homeTies }}</td>
		                  <td class="colHidden">{{ statsCtrl.totalMatches2.awayWins }}-{{ statsCtrl.totalMatches2.awayLoss }}-{{ statsCtrl.totalMatches2.awayTies }}</td>    
		                  <td>{{ statsCtrl.totalMatches2.winPercent }}</td>
		                  <td class="colHidden">{{ statsCtrl.totalMatches2.lossPercent }}</td>
		                </tr>      
		              </tbody>
		            </table>
		          </div>

				
				</div>
